
<h2>Artists Index</h2>

<ul>
<% @artists.each do |artist| %>

  <li>
    <a href="/artists/<%= artist.id %>"><%= artist.name %></a>

    <!-- <%= link_to "Delete", "/artists/#{ artist.id }", method: :delete %> -->

    <a data-method="delete" href="/artists/<%= artist.id %>">Delete</a>

  </li>

<% end %>
</ul>
