<h1>View Post</h1>

<p>
  <strong>Title: </strong>
  <%= post.title %>
</p>

<p>
  <strong>Content: </strong>
  <%= post.content %>
</p>

<img src="<%= post.image %>" width="500">
<br>
<a href="/users">&lt; Back</a>
