<h2>All animals</h2>

<% @animals.each do |animal| %>

<p>Name: <%= animal["species"] %></p>

<img src="<%= animal["image"] %>">

<p>Description: <%= animal["description"] %></p>

<p>Legs: <%= animal["legs"] %></p>

<% if animal != @animals.last %>
  <hr>
<% end %>

<% end %>
