<h2>All animals</h2>

<% @animals.each do |animal| %>

<p>
 <a href="/animals/<%= animal["id"] %>"><%= animal["species"] %></a>
 <a href="/animals/<%= animal["id"] %>/edit"   class="edit" >edit</a>
 <a href="/animals/<%= animal["id"] %>/delete" class="edit" >del</a>
</p>

<% end %>
