<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Welcome to the Animals Database!</h1>
<img id="bill" src="http://fillmurray.com/200/200" alt="">
<hr>

<%= yield %>

<hr>
<h3>Footer lives here</h3>
</body>
</html>
