<h2>New Animal</h2>
<form action="/animals" method="post">
  <p>
    <label for="">Species/Name:</label>
    <input type="text" name="species" placeholder="Species">
  </p>
  <p>
    <label for="">Image URL:</label>
    <input type="text" name="image" placeholder="Image URL">
  </p>
  <p>
    <label for="">Description:</label>
    <input type="text" name="description" placeholder="Description">
  </p>
  <p>
    <label for="">Leg Count:</label>
    <input type="text" name="legs" placeholder="Legs">
  </p>
  <input type="submit" name="" value="Create Animal">
</form>
