
<h2><%= @about %></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus est ipsum animi quo culpa. Dicta animi, dolorum blanditiis facilis, velit quod quaerat eos accusantium explicabo quae! Et illo eligendi aperiam.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel magnam assumenda inventore at harum asperiores nostrum odio eum labore voluptas numquam fugiat, ratione quidem natus quisquam sint reiciendis, dicta deleniti.</p>
