<h1>Dashboard</h1>

<p>
Uptime:
<span id="up"></span>
</p>

<p>
Cat name:
<span id="catname_title"></span><br>
<span id="catname_first"></span><br>
<span id="catname_last"></span>
</p>

<p>
Biggest CPU Hog:
<pre id="hog"></pre>
</p>
