<!DOCTYPE html>
<html>
  <head>
    <title>First Rails App</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/main.js"></script>
  </head>
  <body>

  <h1>Life Just Got Hella Railsy</h1>

    <%= yield %>

  <hr>
  <h3>Footer</h3>

  </body>
</html>
