
body {
  background-color: hotpink;
  font-family: "Comic Sans MS", sans-serif;
}

img {
  max-width: 500px;
  max-height: 300px;
}

#bill {
  max-width: 100px !important;
}

a.edit {
  font-size: 8pt;
}
